$mscL: "MuseoSansCyrlLight", Arial, sans-serif;
$mscR:  "MuseoSansCyrlRegular", Arial, sans-serif;
$mscB: "MuseoSansCyrlBold", Arial, sans-serif;
$globalColor: #222222;
$accentColor: #dfdfdf;
$numberColumns: 24;

// переменные для управления 
$mainSizeTitle: 0px;
$mainSizeText: 0px;
$mainSizeIxon: 0px;
$mainSizeRadiusCorner: 16px;

