@import "./helpers/FontAwesome/css/font-awesome.min.css";
@import "./mixin/mixin.scss";
@font-face {
  font-family: "MuseoSansCyrlBold";
  src: url(./fonts/MuseoSansCyrl/MuseoSansCyrlBold.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "MuseoSansCyrlMedium";
  src: url(./fonts/MuseoSansCyrl100.eot);
  src: url(./fonts/MuseoSansCyrl100.eot?#iefix) format("embedded-opentype"),
    url(./fonts/MuseoSansCyrl100.ttf) format("truetype"), 
    url(./fonts/MuseoSansCyrl100.woff) format("woff");  
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "FontAwesome";
  font-weight: 100;
  font-style: normal;
  src: url(./helpers/FontAwesome/fonts/fontawesome-webfont.ttf);
}
$mscM: "MuseoSansCyrlMedium", Arial, sans-serif;
$mscB: "MuseoSansCyrlBold", Arial, sans-serif;
$globalColor: #676666;
$accentColor: #ebebeb;

body {
  margin: 0;
  overflow: hidden;
  padding-top: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container-grid {
  display: grid;
  grid-template-columns: repeat(14, minmax(40px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 10px;
  height: 100vh;
  .wrapper-header {
    grid-row: 1;
    grid-column: 3/10;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto 1fr;
    .header-logo {
      display: grid;
      grid-auto-flow: column;
      justify-content: start;
      align-items: center;
      h1 {
        color: $globalColor;
        font-family: $mscM;
        font-weight: 100;
        font-size: 22px;
        margin: 3px;
      }
    }
    .header-search {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-gap: 10px;
      grid-auto-flow: column;
      justify-content: center;
      align-items: center;
      input {
        border: none;
        background: $accentColor;
        padding: 4px;
        height: 20px;
        padding-left: 15px;
        border-radius: 25px;
        outline: none;
        &::placeholder {
          color: #a3a3a3;
          font-family: $mscM;
        }
      }
      button {
        border: none;
        width: 30px;
        height: 30px;
        border-radius: 10em;
        color: #ffffff;
        font-size: 17px;
        background: $globalColor;
      }
    }
  }
}

.main-menu {
  width: 100%;
  border-radius: 10px;
  grid-column: 10/13;
  grid-row: 1/10;
  min-height: 400px;
  background: $accentColor;
}
.main-menu-lg {
  grid-column: 10/14;
}

.container-content {
  grid-row: 2/14;
  grid-column: 3/10;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1fr, minmax(400px, 1fr));
  grid-auto-rows: 450px;
  grid-gap: 10px;
  height: 100%;
  padding: 10px;
  @include styles_scroll_bar();
  ////////////////////////////////////////////////////////////////////////////////////////////@wrapper left
  .wrapper-card-group-left {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 10px;
    .wrapper-card__item-vertical {
      position: relative;
      background: $globalColor;
      grid-column: 1/3;
      grid-row: 1/7;
      border-radius: 10px;
      overflow: hidden;
      background-size: cover;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      .title-card-item {
        display: grid;
        grid-template-rows: 1fr auto auto;
        height: 100%;
        grid-auto-flow: row;
        h3 {
          grid-row: 2;
          font-family: $mscM;
          font-weight: 100;
          color: $accentColor;
          font-size: 24px;
          display: grid;
          margin: 0;
          margin-left: 10px;
        }
        span {
          grid-row: 3;

          // display: grid;
          // align-items: end;
          font-size: 30px;
          font-family: $mscB;
          color: $accentColor;
          margin: 10px;
        }
        .hover-button {
          position: absolute;
          width: 100%;
          height: 30px;
          background: red;
        }
      }
    }
    .wrapper-card__item-horizontal-top {
      background: $globalColor;
      grid-column: 3/6;
      grid-row: 1/4;
      border-radius: 10px;
    }
    .wrapper-card__item-horizontal-bottom {
      background: $globalColor;
      grid-column: 3/6;
      grid-row: 4/7;
      border-radius: 10px;
    }
  } 
  ///////////////////////////////////////////////////////////////////////////////////////@wrapper right
  .wrapper-card-group-right {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 10px;
    .wrapper-card__item-vertical {
      position: relative;
      background: $globalColor;
      grid-column: 4/6;
      grid-row: 1/7;
      border-radius: 10px;
      background-size: cover;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: grid;
      grid-auto-flow: column;
      .title-card-item {
        position: absolute;
        bottom: 0;
        h3 {
          font-family: $mscM;
          color: $accentColor;
          font-size: 29px;
          white-space: nowrap;
        }
      }
    }
    .wrapper-card__item-horizontal-top {
      background: $globalColor;
      grid-column: 1/4;
      grid-row: 1/4;
      border-radius: 10px;
    }
    .wrapper-card__item-horizontal-bottom {
      background: $globalColor;
      grid-column: 1/4;
      grid-row: 4/7;
      border-radius: 10px;
    }
  }
}
