@import "./configStyle.scss";
@import "./../../../styles/variables.scss";

.container-group-product {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-gap: 10px;
	.container-product__vertical,
	.container-product__horizontal-top,
	.container-product__horizontal-bottom {
		@include BASE-SETTING-CONTAINER($globalColor, $mainSizeRadiusCorner);
	}
	@include CONFIGURE-LOCATION-OF-GRID();
	.wrapper-content-product__horizontal,
	.wrapper-content-product__vertical {
		display: grid;
		grid-auto-flow: row;
		height: 100%;
		grid-template-rows: 1fr auto auto;
		border-radius: 16px;
		overflow: hidden;
		.title-container {
			grid-row: 2;
			display: grid;
			grid-template-rows: 1fr 1fr;
			grid-auto-flow: column;
			// justify-self: ;
			h3 {
				font-family: $mscM;
				font-weight: 100;
				color: $accentColor;
				font-size: 25px;
				display: grid;
				margin: 0;
				color: $accentColor;
				margin-left: 10px;
				padding: 5px;
				justify-self: start;
				align-self: center;
			}
			span {
				align-self: center;
				justify-self: end;
			}
		}
	}
	.wrapper-content-product__horizontal {
		grid-template-rows: 1fr auto auto;
		h3 {
			grid-row: 2;
		}
		span {
			grid-row: 2;
		}
	}
	.wrapper-content-product__vertical {
		grid-template-rows: 1fr auto auto auto;
		h3 {
			grid-row: 2;
		}
		span {
			grid-row: 3;
		}
	}
	.wrapper-content-product {
		// @include BASE-SETTING-WRAPPER-CONTENT();
		// display: grid;
		// grid-auto-flow: row;
		// height: 100%;
		h3 {
			// grid-row: 2;
			font-family: $mscM;
			font-weight: 100;
			color: $accentColor;
			font-size: 24px;
			display: grid;
			margin: 0;
			margin-left: 10px;
		}
		span {
			// grid-row: 3;
			font-size: 30px;
			font-family: $mscB;
			color: $accentColor;
			margin: 10px;
		}
		.stick-quick-access {
			@include __hidden-button($accentColor);
		}
		@include __baseConfigEffect();
	}
}
