@import "./configStyle.scss";
@import "./../../../styles/variables.scss";

.container-group-product {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-gap: 10px;
	padding: 5px;
	.container-product__vertical,
	.container-product__horizontal-top,
	.container-product__horizontal-bottom {
		@include BASE-SETTING-CONTAINER($accentColor, $mainSizeRadiusCorner);
	}
	@include CONFIGURE-LOCATION-OF-GRID();
	.wrapper-content-product {
		display: grid;
		grid-auto-flow: row;
		height: 100%;
		width: 100%;
		grid-template-rows: 1fr auto auto;
		.title-container__vertical {
			grid-auto-flow: row;
			span {
				justify-self: start;
			}
		}
		.title-container__horizontal {
			grid-auto-flow: column;
			span {
				justify-self: end;
			}
		}
		.title-container {
			grid-row: 2;
			display: grid;
			h3 {
				white-space: nowrap;
				font-family: $mscM;
				font-weight: 100;
				font-size: 24px;
				margin: 0;
				color: $accentColor;
				margin-left: 10px;
				justify-self: start;
				align-self: center;
			}
			span {
				align-self: center;
				font-size: 30px;
				font-family: $mscB;
				color: $accentColor;
				margin: 10px;
			}
		}
	}
	.stick-quick-access {
		width: 100%;
		background: $accentColor;
		border-radius: $mainSizeRadiusCorner - 1;
		grid-row: 3;
		transition: all .2s ease;
		h3 {
			white-space: nowrap;
			font-family: $mscM;
			font-weight: 100;
			font-size: 22px;
			margin: 7px 0px 7px 10px;
			color: $globalColor;
		}
	}
	@include __baseConfigEffect($globalColor, $accentColor);
}
