@import "./helperMixins.scss";
@mixin wrapper-card-group-left($globalColor, $accentColor) {
	@include __baseSetting();
	.wrapper-card__item-vertical {
		grid-column: 1/3;
		grid-row: 1/7;
		@include __baseSettingProduct($globalColor);
		.title-card-item {
			@include __baseSettingTitle();
			.hidden-button {
				@include __hidden-button($accentColor);
			}
			@include __baseConfigEffect();
		}
	}
	.wrapper-card__item-horizontal-top {
		grid-column: 3/6;
		grid-row: 1/4;
		@include __baseSettingProduct($globalColor);
		.title-card-item {
			@include __baseSettingTitle();
			.hidden-button {
				@include __hidden-button($accentColor);
			}
			@include __baseConfigEffect();
		}
	}
	.wrapper-card__item-horizontal-bottom {
		grid-column: 3/6;
		grid-row: 4/7;
		@include __baseSettingProduct($globalColor);
		.title-card-item {
			@include __baseSettingTitle();
			.hidden-button {
				@include __hidden-button($accentColor);
			}
			@include __baseConfigEffect();
		}
	}
}
